@import "tailwindcss";


@theme {
  --color-purple: #4B3EC4;
}
.swiper-horizontal{
  height: 100%;
}
.swiper-pagination .swiper-pagination-bullet{
  height: calc(.25rem * 1);
    width: calc(.25rem * 4);
    background-color: #bbbec9;
    opacity: 1;
    border-radius: 11px;
}
.swiper-pagination .swiper-pagination-bullet-active{
width: calc(.25rem * 5.5);
    background-color: #3c50e0;
}